In [13]:
import pandas as pd
#print(pd.__name__)
"""countries=pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
    name = 'countries'
)"""
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
#display(countries)
print(len(countries.index))
#print(countries.loc['KZ'])

7

In [14]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [16]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
print(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [138]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
print(list(melb_data.columns.values))
#print(melb_data.at[3521,'Landsize'])
#print(melb_data.at[1690,'Landsize'])
#display(melb_data.info())
#display(melb_data.describe())
#melb_data['Bedroom'].value_counts(normalize=False)
#melb_data[melb_data['BuildingArea']==0]
#display(melb_data[(melb_data['Price'] < 3000000)&(melb_data['Type']=='h')]['Regionname'].describe())
#display(melb_data['Price'].std())
#display(melb_data.shape[0])
#display(melb_data[melb_data['Rooms']==3].shape[0])
#display(melb_data['Rooms'].max())
#display(melb_data[(melb_data['Rooms']==3)&(melb_data['Price']<3000000)].mean())
#print(melb_data[melb_data['Type'] == 'h']['Rooms'].mean())
#sr_pr=melb_data['Price'].mean()
#print(sr_pr)
#display(melb_data[(melb_data['Price']<1000000)&((melb_data['Rooms']>5) | (melb_data['YearBuilt']>2015))]['Price'].mean())
#melb_data['Suburb'].unique().to_csv('data/countries2.csv', index=False, sep=';')
#display(melb_data[melb_data['Regionname']=='Propertycount'].count())
ba_sr=melb_data['BuildingArea'].mean()
ba_md=melb_data['BuildingArea'].median()
print(ba_sr, '  ',ba_md)

['index', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount', 'Coordinates']
139.63397229013256    126.0

In [161]:
import pandas as pd
st_d = pd.read_csv('data/students_performance.csv', sep=',')
#student_data.count()
display(student_data.head())
#display(student_data['writing score'].iloc[155])
#display(student_data.info())
#display(student_data['race/ethnicity'].dec())
#display(st_d[st_d['test preparation course']=='completed']['reading score'].mean())
display(st_d[st_d['math score']==0].count())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

In [170]:
import pandas as pd
m_d = pd.read_csv('data/melb_data.csv', sep=',')
m_d2=m_d.copy()
#print(list(m_d.columns.values))
m_d2.drop(['index','Coordinates'],axis=1,inplace=True)
#print(list(m_d2.columns.values))
tot_r=m_d2['Bathroom']+m_d2['Bedroom']+m_d2['Rooms']
#display(tot_r)
m_d2['MeanRoomSquare']=m_d2['BuildingArea']/tot_r
display(m_d2['MeanRoomSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomSquare, Length: 13580, dtype: float64

In [175]:
co_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
#display(co_df)
co_df['plot']=co_df['population']/co_df['square']*1000000
display(co_df['plot'].mean())

84.93080566562

In [220]:
from calendar import weekday
import pandas as pd
m_d = pd.read_csv('data/melb_data.csv', sep=',')
#print(m_d.columns.values)
m_d['Date1'] = pd.to_datetime(m_d['Date'], dayfirst=True)
delta_days = m_d['Date1'] - pd.to_datetime('2016-01-01') 
#print(pd.to_datetime('2016-01-01'))

#display(delta_days)
m_d['W_d']=m_d['Date1'].dt.dayofweek
display(m_d['W_d'].value_counts())
print(m_d.columns.values)
def get_weekend(weekday):
    #we_list[5,6]
    if (weekday==5) | (weekday==6):
        return 1
    else:
        return 0
m_d['Weekend']=m_d['W_d'].apply(get_weekend)
display(m_d['Weekend'].value_counts())
display(m_d[m_d['Weekend']==1]['Price'].mean())

5    11759
6     1063
0      597
1      133
3       28
Name: W_d, dtype: int64

['index' 'Suburb' 'Address' 'Rooms' 'Type' 'Price' 'Method' 'SellerG'
 'Date' 'Distance' 'Postcode' 'Bedroom' 'Bathroom' 'Car' 'Landsize'
 'BuildingArea' 'YearBuilt' 'CouncilArea' 'Lattitude' 'Longtitude'
 'Regionname' 'Propertycount' 'Coordinates' 'Date1' 'W_d']

1    12822
0      758
Name: Weekend, dtype: int64

1081198.6406956792

In [196]:
import pandas as pd
u_d = pd.read_csv('data/ufo.csv', sep=',')
u_d['Date']=pd.to_datetime(u_d['Time'], dayfirst=True)
display(u_d.head())
u_d['Year']=u_d['Date'].dt.year
display(u_d['Year'].value_counts())

,City,Colors Reported,Shape Reported,State,Time,Date
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,1930-01-06 22:00:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,1931-01-06 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,1933-04-18 19:00:00

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: Year, Length: 68, dtype: int64

In [205]:
import pandas as pd
m_d = pd.read_csv('data/melb_data.csv', sep=',')
print(m_d.columns.values)
def get_st_t(adr):
    ex_li=['N','S','W','E']
    adr_li=adr.split(' ')
    st_t=adr_li[-1]
    if st_t in ex_li:
        st_t=adr_li[-2]
    return st_t
str_typ=m_d['Address'].apply(get_st_t)
#display(str_typ.value_counts())
pop_typ=str_typ.value_counts().nlargest(10).index
display(pop_typ)
m_d['StreetType']=str_typ.apply(lambda x: x if x in pop_typ else 'other')
display(m_d['StreetType'].value_counts())
m_d=m_d.drop('Address', axis=1)

['index' 'Suburb' 'Address' 'Rooms' 'Type' 'Price' 'Method' 'SellerG'
 'Date' 'Distance' 'Postcode' 'Bedroom' 'Bathroom' 'Car' 'Landsize'
 'BuildingArea' 'YearBuilt' 'CouncilArea' 'Lattitude' 'Longtitude'
 'Regionname' 'Propertycount' 'Coordinates']

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

St       8012
Rd       2825
Ct        612
Dr        447
other     420
Av        321
Gr        311
Pde       211
Pl        169
Cr        152
Cl        100
Name: StreetType, dtype: int64

In [246]:
import pandas as pd
cb_td = pd.read_csv('data/cb_td.csv', sep=',')
print(cb_td.info())
display(cb_td['end station name'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB
None

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [274]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
#melb_df.head()
#display(melb_df.info())
melb_df['Date']=pd.to_datetime(melb_df['Date'], dayfirst=True)
#display(melb_df.info())
melb_df['Month']=melb_df['Date'].dt.quarter
#display(melb_df['Month'].value_counts())
#melb_df.sort_values(by=['Distance', 'Price']).loc[::10, ['Distance', 'Price']]
#melb_df.sort_values(by=['Price', 'Distance']).loc[::5, ['Distance', 'Price']]
#melb_df2=melb_df.sort_values(by=['AreaRatio'], ascending=False, ignore_index=True)
#display(melb_df2.head())
#display(melb_df2.loc[1558,['BuildingArea']])
df3=melb_df[(melb_df['Type']=='townhouse')&(melb_data['Rooms']>2)]
#display(melb_df[(melb_df['Type']=='T')&(melb_data['Rooms']>2)])
#display(melb_df['Type'].value_counts())
#display(df3.head())
df3_1=df3.sort_values(by=['Rooms','MeanRoomsSquare'],ascending=[True,False],ignore_index=True)
display(df3_1.loc[18,['Price']])

Price    1300000.0
Name: 18, dtype: object